<nav class="navbar navbar-default">
  <h1>My Cricket App</h1>
</nav>





<form ng-submit="addTeams()" class="list-group-item">
   <div class="form-group">
    <label for="inputtext">Team-A</label>
    <input type="text" class="form-control" ng-model="teamA" />
   </div>
   <div class="form-group">
    <label for="inputtext">Team-B</label>
    <input type="text" class="form-control"  ng-model = "teamB" />
   </div>
   <div class="form-group">
    <label for="inputtext">Score</label>
    <input type="text" class="form-control" ng-model="score" />
   </div>
   <div class="form-group">
    <label for="inputtext">Location</label>
    <input type="text" class="form-control" ng-model="location" />
   </div>
   <div class="form-group">
    <label for="inputtext">Description</label>
    <input type="text" class="form-control" ng-model="description" />
   </div>
   <div class="form-group">
    <label for="inputtext">toss</label>
    <input type="text" class="form-control" ng-model="toss" />
   </div>
   <button type="submit" class="btn btn-success">Submit</button>
 </form>
</div>
